# =========================
# React / Frontend
# =========================
node_modules/
build/
dist/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# =========================
# Deep Learning Models
# =========================
*.h5
*.keras
*.pt
*.pth
*.ckpt

# Ignore model folders
models/
backend/models/

# =========================
# Dataset Files
# =========================
dataset/
datasets/
data/

# Videos / Images (optional)
*.mp4
*.avi
*.mov

# =========================
# Environment Variables
# =========================
.env

# =========================
# Jupyter Notebook Cache
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains / PyCharm
.idea/